<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{86,116}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{86,112}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
            <key>bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{86,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{86,112}}</string>
                <key>sourceSize</key>
                <string>{106,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5674275fed88162f89d8d48e56409796$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
