<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{94,100}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,60},{94,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>stone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,150},{146,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,39},{146,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>stone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{146,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,39},{146,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>stone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,160},{176,154}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{176,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>stone_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{178,156}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{178,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>stone_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{178,150}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{178,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>stone_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,298},{174,148}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{174,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>stone_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,90}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{192,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stone.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bce51789178755c468e25a7e9d6ac9c$</string>
            <key>textureFileName</key>
            <string>stone.png</string>
        </dict>
    </dict>
</plist>
