<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>waterflash_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,207},{46,7}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,12},{46,7}}</string>
                <key>sourceSize</key>
                <string>{192,31}</string>
            </dict>
            <key>waterflash_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{94,17}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,7},{94,17}}</string>
                <key>sourceSize</key>
                <string>{192,31}</string>
            </dict>
            <key>waterflash_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,313},{174,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{174,31}}</string>
                <key>sourceSize</key>
                <string>{192,31}</string>
            </dict>
            <key>waterflash_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{94,17}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,7},{94,17}}</string>
                <key>sourceSize</key>
                <string>{192,31}</string>
            </dict>
            <key>waterflash_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,498},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>waterflash_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,299},{101,7}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,32},{101,7}}</string>
                <key>sourceSize</key>
                <string>{337,69}</string>
            </dict>
            <key>waterflash_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,341},{155,69}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,0},{155,69}}</string>
                <key>sourceSize</key>
                <string>{337,69}</string>
            </dict>
            <key>waterflash_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{331,47}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{331,47}}</string>
                <key>sourceSize</key>
                <string>{337,69}</string>
            </dict>
            <key>waterflash_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{337,45}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{337,45}}</string>
                <key>sourceSize</key>
                <string>{337,69}</string>
            </dict>
            <key>waterflash_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{309,33}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{309,33}}</string>
                <key>sourceSize</key>
                <string>{337,69}</string>
            </dict>
            <key>waterflash_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,498},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>waterflash_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,498},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>waterflash_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,299},{99,24}}</string>
                <key>offset</key>
                <string>{52,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,12},{99,24}}</string>
                <key>sourceSize</key>
                <string>{325,50}</string>
            </dict>
            <key>waterflash_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{169,32}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,9},{169,32}}</string>
                <key>sourceSize</key>
                <string>{325,50}</string>
            </dict>
            <key>waterflash_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,269},{227,42}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,4},{227,42}}</string>
                <key>sourceSize</key>
                <string>{325,50}</string>
            </dict>
            <key>waterflash_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{265,50}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{265,50}}</string>
                <key>sourceSize</key>
                <string>{325,50}</string>
            </dict>
            <key>waterflash_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{295,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{295,42}}</string>
                <key>sourceSize</key>
                <string>{325,50}</string>
            </dict>
            <key>waterflash_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{203,24}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{203,24}}</string>
                <key>sourceSize</key>
                <string>{325,50}</string>
            </dict>
            <key>waterflash_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,498},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>waterflash_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,498},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>waterflash_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,498},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WaveAni.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a9fd8dfb1c032d200949f105f463cd2$</string>
            <key>textureFileName</key>
            <string>WaveAni.png</string>
        </dict>
    </dict>
</plist>
