<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{87,90}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,48},{87,90}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>ice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{141,132}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{141,132}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>ice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,361},{157,146}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{157,146}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>ice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,188},{171,160}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{171,160}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>ice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,188},{179,168}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{179,168}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>ice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{183,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{183,174}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>ice_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,184}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,184}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>ice_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,184}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,184}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ice.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f7eba67e779d812a7ddee53f4cdfb3f$</string>
            <key>textureFileName</key>
            <string>ice.png</string>
        </dict>
    </dict>
</plist>
