<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mayixian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{135,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{135,17}}</string>
                <key>sourceSize</key>
                <string>{137,21}</string>
            </dict>
            <key>mayixian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{137,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,17}}</string>
                <key>sourceSize</key>
                <string>{137,21}</string>
            </dict>
            <key>mayixian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{137,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,17}}</string>
                <key>sourceSize</key>
                <string>{137,21}</string>
            </dict>
            <key>mayixian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{137,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,17}}</string>
                <key>sourceSize</key>
                <string>{137,21}</string>
            </dict>
            <key>mayixian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,2},{137,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,17}}</string>
                <key>sourceSize</key>
                <string>{137,21}</string>
            </dict>
            <key>mayixian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,17}}</string>
                <key>sourceSize</key>
                <string>{137,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mayixian.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c401ed4134a54e41529a79d865b664b$</string>
            <key>textureFileName</key>
            <string>mayixian.png</string>
        </dict>
    </dict>
</plist>
